<ActionBar>
    <Label text="" textWrap="true"></Label>
</ActionBar>
<StackLayout *ngIf="isLogin; else elseBlock">
    <app-loader [(textLoader)]="textLoader"></app-loader>
</StackLayout>
<ng-template #elseBlock>
    <FlexboxLayout class="page">
        <form [formGroup]="formGroup" height="100%">
            <StackLayout class="form">
                <Image class="logo" src="~/assets/login/logo.png"></Image>
                <!-- <Label class="header" text="Ahorra Seguros"></Label> -->
                <PreviousNextView>
                    <GridLayout rows="auto, auto, auto">
                        <StackLayout row="0" class="input-field">
                            <TextField hint="Correo electrónico" text="" formControlName="email"></TextField>
                            <!-- <TextField class="input" hint="Email" [isEnabled]="!processing" keyboardType="email"
                                    autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next"
                                    (returnPress)="focusPassword()"></TextField> -->
                            <div *ngIf="emailField.errors && emailField.dirty">
                                <Label *ngIf="emailField.hasError('required') && !this.emailField.hasError('pattern')"
                                    text="El correo es requerido" textWrap="true" class="errorTextField"></Label>
                                <Label *ngIf="emailField.hasError('pattern')" text="Correo electrónico no válido"
                                    textWrap="true" class="errorTextField"></Label>
                            </div>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout row="1" class="input-field">
                            <GridLayout rows="auto, 20" columns="*, 50">
                                <TextField row="0" col="0" colSpan="2" formControlName="contrasenaApp"
                                    [secure]=" isShowingPassword ? false : true" hint="Contraseña" text=""
                                    secure="true">
                                </TextField>
                                <Label row="0" col="1" marginTop="5"
                                    [text]="isShowingPassword ? '&#xf070;' : '&#xf06e;'" class="fas" textWrap="true"
                                    (tap)="showPassword()"></Label>
                                <div row="1" col="0" colSpan="2" *ngIf="passwordField.errors && passwordField.dirty">
                                    <Label *ngIf="passwordField.hasError('required')" text="La contraseña es requerida"
                                        textWrap="true" class="errorTextField"></Label>
                                    <Label
                                        *ngIf="passwordField.hasError('minlength') || passwordField.hasError('maxlength')"
                                        text="La contraseña debe tener entre 8 y 32 caracteres" textWrap="true"
                                        class="errorTextField"></Label>
                                </div>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </PreviousNextView>
                <Button [isEnabled]="formGroup.valid" class="btnLogin" text="Iniciar sesión" (tap)="logIn()"></Button>
            </StackLayout>
        </form>
    </FlexboxLayout>
</ng-template>