<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf0c9;" class="fas fas-size" (tap)="showDrawer()">
    </NavigationButton>
</ActionBar>
<StackLayout *ngIf="!dataLoaded; else elseBlock">
    <app-loader [(textLoader)]="textLoader"></app-loader>
</StackLayout>
<ng-template #elseBlock>
    <StackLayout height="100%">
        <StackLayout width="90%" height="100%" class="notPolicies" *ngIf="policiesArr.length === 0; else elseblk">
            <Label text="Aún no cuenta con pólizas" textWrap="true"></Label>
        </StackLayout>
        <ng-template #elseblk>
            <StackLayout width="90%" height="100%">
                <Label class="textInfo" text="En esta sección podrás ver tus pólizas de seguros"
                    textWrap="true"></Label>
                <ListView [items]="policiesArr" height="100%">
                    <ng-template let-item="item" let-odd="odd" let-even="even">
                        <StackLayout>
                            <StackLayout class="shadow">
                                <StackLayout height="100%" class="stacklayout-card">
                                    <StackLayout class="stacklayout-card-title">
                                        <Image height="125px" [src]="selectImage(item.alias)"></Image>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-body">
                                        <GridLayout rows="*,*,*" columns="170, *">
                                            <Label row="0" col="0" class="title-policies" text="Número de Póliza"
                                                textWrap="true"></Label>
                                            <Label row="0" col="1" class="text-policies" [text]="item.poliza"
                                                textWrap="true"></Label>

                                            <Label row="1" col="0" class="title-policies" text="Tipo subramo"
                                                textWrap="true"></Label>
                                            <Label row="1" col="1" class="text-policies" [text]="item.tipoSubramo"
                                                textWrap="true"></Label>

                                            <Label row="2" col="0" class="title-policies" text="Tipo de pago"
                                                textWrap="true"></Label>
                                            <Label row="2" col="1" class="text-policies" [text]="item.tipoPago"
                                                textWrap="true"></Label>
                                        </GridLayout>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-options">
                                        <GridLayout rows="*" columns="*, *, *">
                                            <Button col="0" class="btnOptions" text="Ver Póliza"
                                                (tap)="onViewTap(item.archivo, item.poliza)"></Button>
                                            <Button col="1" class="btnOptions" text="Solicitudes"
                                                (tap)="onPetitionsTap('')"></Button>
                                            <Button col="2" class="btnOptions" text="Detalles"
                                                (tap)="onDetailsTap(item)"></Button>
                                        </GridLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </ng-template>
    </StackLayout>
</ng-template>