<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
</ActionBar>
<PDFView [src]="PDF_URL" (load)="onLoad()">
</PDFView>
<StackLayout *ngIf="PDFComplete === true" class="flt-btn-layout" (tap)="downLoadPolicie()">
    <app-floating-button></app-floating-button>
</StackLayout>