<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer backgroundColor="#fff">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header">
      <!-- <Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image> -->
      <!-- <Label class="nt-drawer__header-brand" [text]="dataClientArr.nombre + ' ' + dataClientArr.paterno + ' ' + dataClientArr.materno"></Label>
      <Label class="nt-drawer__header-footnote" [text]="dataClientArr.correo"></Label> -->
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/policies')"
          (tap)="onNavItemTap('/policies')">
          <Label col="0" text="&#xf07c;" class="nt-icon fas"></Label>
          <Label col="1" text="Mis Pólizas" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/petitions')"
          (tap)="onNavItemTap('/petitions')">
          <Label col="0" text="&#xf15c;" class="nt-icon far"></Label>
          <Label col="1" text="Mis Solicitudes" class="p-r-10"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/profile')"
          (tap)="onNavItemTap('/profile')">
          <Label col="0" text="&#xf2bd;" class="nt-icon fas"></Label>
          <Label col="1" text="Mi perfil" class="p-r-10"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/logout')"
          (tap)="onNavItemTap('/logout')">
          <Label col="0" text="&#xf2f5;" class="nt-icon fas"></Label>
          <Label col="1" text="Cerrar Sesión" class="p-r-10"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>