<StackLayout class="stacklayout-loader">
    <ActivityIndicator [busy]="isBusy" color="green" width="65" height="65"></ActivityIndicator>
    <Label [text]="textLoader" textWrap="true"></Label>
</StackLayout>